@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

.footer{
  background-image: url("../../public//assets/footer-bg.webp");
  background-position: right top;
  background-repeat: no-repeat;

}

.hero-section{
  background-image: url("../../public/assets//hexagen-group-1.webp") ;
  background-position: left top;
  background-repeat: no-repeat;
}
/* .second-bg{
  background-image: url("../../public/assets/hero-bg-2.png");
  background-position: right top;
  background-repeat: no-repeat;
} */